<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801933520320-jn0l83qejkfru50jlms309rb7tuk0hbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801933520320-jn0l83qejkfru50jlms309rb7tuk0hbt</string>
	<key>API_KEY</key>
	<string>AIzaSyAaTIPh37nTUcEOE0U7WokIS1Woxg_Zmn4</string>
	<key>GCM_SENDER_ID</key>
	<string>801933520320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.UseFirevase</string>
	<key>PROJECT_ID</key>
	<string>use-firebase-b44d6</string>
	<key>STORAGE_BUCKET</key>
	<string>use-firebase-b44d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801933520320:ios:ab04c0bb56add6b4b92c25</string>
</dict>
</plist>